*
!*/
!*.c
!*.h
!*.tex
!*.pdf
!Makefile

# this files is provided by the task                                            
common.h                                                                        
ipc.h                                                                           
pa1.h                                                                           
